.ticket-card {
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    justify-content: center;
    grid-column: 2;
    margin-top: 20px;
    margin-left: 0;
    width: 50%;
    border: 2px solid white;
    background-color: #264e70;
}

.ticket-card-list {
    list-style: none;
    color: white;
    font-size: 1.5rem;
}
